/* Write your code here. */
.styling {
  background-color: #0f172a;
  height: 100vh;
  background-size: cover;
  text-align: center;
}

.heading {
  color: #f8fafc;
  font-family: "Roboto";
  text-align: center;
}
.images {
  height: 250px;
  width: 240px;
  text-align: center;
}
